# Virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# PyCharm
.idea/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Model files (opsionale - hiqe nëse do ta upload-osh modelin)
*.pth

# Data (opsionale - dataset-et janë zakonisht shumë të mëdha)
data/raw/